<div class="container">
    <div class="row">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h5 class="card-title">Project Manager List</h5>
          <i class="fa fa-plus-circle text-primary fa-2x" routerLink="/admin/project-managers/nouveau" title="add"></i>
        </div>
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>File number</th>
                <th>Last name</th>
                <th>First name</th>
                <th>Email</th>
                <th>Login</th>
                <th>Phone</th>
                <th>Creation date</th>
                <th>Project List</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let proMan of projectManagerList">
                <td>{{proMan.fileNumber}}</td>
                <td>{{proMan.lastname}}</td>
                <td>{{proMan.firstname}}</td>
                <td>{{proMan.email}}</td>
                <td>{{proMan.login}}</td>
                <td>{{proMan.phoneNumber}}</td>
                <td>{{proMan.creationDate}}</td>
               <!-- <td *ngFor="let proj of proMan?.gpProject">{{proj?.code}}</td>-->
                <td>
                  <i (click)="getByIdProjectManagers(proMan.id)" class="fa fa-poo text-primary mx-3" title="Liste des Projets"></i>
                </td>
                <td>
                  <i (click)="edit(proMan.id)" class="fa fa-user-edit text-primary mx-3" title="edit"></i>
                  <i (click)="delete(proMan.id)" class="fa fa-trash-alt text-danger" title="Delete"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  </div>

  